<div markdown="0" style="text-align: center;">
<h markdown="0" align="center">
<span markdown="0" style="font-family: &quot;verdana&quot; , sans-serif; font-size: x-large;"><b>Ｓｈｅｌｔｅｒ</b></span></h><b><span style="font-size: x-large;"></span></b></div>
<h3 markdown="0" align="center">Pure sadness</h3>
<div markdown="0" style="text-align: left;">

If you follow the recent anime news, then there's no doubt you have heard of
Porter Robinson's "Shelter". The newest music video by popular electronic artist
Porter Robinson has created quite the buzz around the anime community lately.
Yes, I know that this is a little late for Shelter, but you know what? It's our
first post so we Figured we'd make it about something brilliant.

</div>
<h4 markdown="0" style="text-align: left;">What is Shelter?</h4>
<div markdown="0" style="text-align: left;">

Shelter is a music video created by Porter Robinson whose other notable works
include "Easy", "Language", and "Lionhearted" [I love that one].

</div>
<div markdown="0" style="text-align: left;">

Shelter follows the story of Rin &lt;<i>Reen&gt;</i>, a teenage girl who lives
out her life&nbsp;inside a virtual reality. Equipped with a drawing tablet,
Rin&nbsp;draws the world around her each day. In actuality, Shelter is set in a
post-apocalyptic world where a planet collides with the Earth, destroying it and
causing the death of the human race. However, Rin's father builds a spaceship
and puts the child Rin into it, launching her into space and saving her life.
Throughout the course of Shelter, Rin starts to remember everything that
happened and the virtual world around her becomes a cruel mirror, showing Rin
the events that led to where she is now.

<br /><br /></div>
<iframe markdown="0" align="center" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/fzQ6gRAEoy0" width="560"></iframe>
<br />
<h6 markdown="0" align="center">Shelter Official Music Video</h6>
<br />

Personally, I think Shleter is beautiful and perfectly sad. It balances the
unbearable sadness with undying joy to create themes which are quite compelling.
Shelter has pierced my heart and broke through the emotional barriers I have.
Overall I think everyone should watch Shelter. Everyone...

<br /><br />
Thank you for reading our first post! I promise things will only get better from here!
Until next time, Stay Otaku! That's an order.
<br /><br />
Admin: James
<br />
Current Favourite Anime: Elfen Lied
<br />
A-N:
<blockquote>Well, I've been scrambling to finish this article and the entire website... I didn't really get the article done as much as I'd like but I've been working on the site. You know, trying to get it to work and all. <i>Nyuu! Nyu!</i>
<br /><i><b>
Thank you Tibby
</blockquote><br /></i></b>

<br />
<br />
<h5>
There are a few HTML Errors on this page that remain unfixed.
</h5>
